ipfs:
  api_url: http://localhost:5001
  gateway_url: http://localhost:8080
  partial_size: 256KB
opensearch:
  url: http://localhost:9200
  bulk_indexer_workers: 12                            # Workers to use for bulk writes.
  bulk_flush_bytes: 15MB                              # Bytesize treshold for bulk writes.
  bulk_flush_timeout: 2m                              # Timeout on batch flushes.
  bulk_getter_batch_size: 96                          # Item treshold for execution of bulk gets.
  bulk_getter_batch_timeout: 400ms                    # Time treshold for bulk gets.
redis:
    addresses:
{% for host in groups['redis'] %}
      - {{ hostvars[host].ansible_all_ipv4_addresses | ipaddr('private') | ipaddr('address') | first }}:7000
      - {{ hostvars[host].ansible_all_ipv4_addresses | ipaddr('private') | ipaddr('address') | first }}:7001
{% endfor %}
amqp:
  url: "amqp://admin:admin@{{ rabbitmq_host }}:5672/"
  max_reconnect: 100
  reconnect_time: 2s
  message_ttl: {{ amqp_message_ttl }}
tika:
  url: http://localhost:8081
  timeout: 5m
  max_file_size: 4GB
nsfw:
    url: http://localhost:{{ nsfw_server_port }}
    timeout: 1m
    max_file_size: 1GB
instrumentation:
  sampling_ratio: 0.01
  jaeger_endpoint: http://{{ monitoring_host_internal_addr }}:14268/api/traces
crawler:
  direntry_buffer_size: 8192
  min_update_age: 12h
  stat_timeout: 13s
  direntry_timeout: 13s
  max_dirsize: 32768
sniffer:
  lastseen_expiration: 1h
  lastseen_prunelen: 65536
  logger_timeout: 1m
  buffer_size: 512
indexes:
  files:
    name: ipfs_files
  directories:
    name: ipfs_directories
  invalids:
    name: ipfs_invalids
  partials:
    name: ipfs_partials
queues:
  files:
    name: files
  directories:
    name: directories
  hashes:
    name: hashes
workers:
  hash_workers: {{ crawler_hash_workers }}
  file_workers: {{ crawler_file_workers }}
  directory_workers: {{ crawler_directory_workers }}
  ipfs_max_connections: 1000
  extractor_max_connections: 100
