[defaults]
transport=ssh
inventory = inventory
vault_password_file = vault/decrypt_passphrase.sh
interpreter_python = /usr/bin/python3
fact_caching=jsonfile
fact_caching_timeout = 86400
fact_caching_connection = ~/.cache/ipfs_search_fact_cache/
forks = 20
internal_poll_interval = 0.001
roles_path = roles:~/.ansible/roles

[ssh_connection]
pipelining=True
