[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "<4"
six = "*"
netaddr = "*"
jmespath = "*"
ansible-lint = "*"

[dev-packages]

[requires]
python_version = "3.8"
