[Unit]
Description=ipfs search api
Requires=elasticsearch.service
After=elasticsearch.service

[Service]
WorkingDirectory={{ api_install_path }}/server
ExecStart=/usr/bin/npm start
Restart=always
User={{ api_user }}
Group={{ api_group }}
Environment=NODE_ENV=production

[Install]
WantedBy=default.target
