[Unit]
Description=Node server {{ node_server_name }}.
Requires={{ node_server_requires }}
After={{ node_server_after }}

[Service]
WorkingDirectory={{ node_server_working_directory }}
ExecStart=/usr/bin/npm start
Restart=always
User={{ node_server_user }}
Group={{ node_server_group }}
Environment=NODE_ENV=production
{% if node_server_environment %}
Environment={{ node_server_environment }}
{% endif  %}

[Install]
WantedBy=default.target
