[Unit]
Description=ipfs-search crawler daemon
Requires=elasticsearch.service rabbitmq-server.service ipfs.service tika-extractor.service
After=elasticsearch.service rabbitmq-server.service ipfs.service tika-extractor.service

[Service]
ExecStart={{ crawler_binary }} -c /etc/ipfs-crawler/config.yml crawl
Restart=always
RestartSec=3
StartLimitBurst=40
StartLimitInterval=120
User=ipfs-crawler
Group=ipfs-crawler
DevicePolicy=closed
ProtectHome=true
ProtectSystem=true
PrivateDevices=true
PrivateTmp=true
MemoryAccounting=yes
MemoryLimit={{ crawler_memlimit }}
# As yet unsupported security options
#ControlGroupAttribute=memory.swappiness 1
#PrivateUser=true
#ReadOnlyPaths=*
#ReadWritePaths={{ ipfs_path }}
#MemoryMax=512M

[Install]
WantedBy=default.target
