[Unit]
Description=ipfs-search sniffer
Requires=rabbitmq-server.service
After=rabbitmq-server.service

[Service]
WorkingDirectory={{ sniffer_home }}
ExecStart={{ sniffer_binary }} -nheads={{ sniffer_head_count }} -bootstrap-peers "/dnsaddr/bootstrap.libp2p.io/p2p/QmNnooDu7bfjPFoTZYxMNLWUQJyrVwtbZg5gBMjTezGAJN,/ip4/104.131.131.82/tcp/4001/p2p/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ,/ip6/2604:a880:1:20::203:d001/tcp/4001/p2p/QmSoLPppuBtQSGwKDZT2M73ULpjvfd3aZ6ha4oFGL1KrGM" -disable-prefetch -random-seed="{{ sniffer_random_seed }}"
Restart=always
RestartSec=3
StartLimitBurst=40
StartLimitInterval=120
User=ipfs-sniffer
Group=ipfs-sniffer
ProtectHome=true
ProtectSystem=true
PrivateDevices=true
PrivateTmp=true
LimitNOFILE=65536
MemoryAccounting=yes
MemoryLimit={{ sniffer_memlimit }}

Environment=SNIFFER_LASTSEEN_PRUNELEN={{ sniffer_lastseen_prunelen }}
Environment=SNIFFER_LASTSEEN_EXPIRATION={{ sniffer_lastseen_expiration }}
Environment=AMQP_MESSAGE_TTL={{ amqp_message_ttl }}

[Install]
WantedBy=default.target
