[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=root
Environment="HOSTNAME={{ inventory_hostname }}"
ExecStart=/usr/local/bin/promtail-linux-amd64 -config.file=/etc/promtail/config.yml -config.expand-env=true

[Install]
WantedBy=multi-user.target
